<!-- In stock-table.component.html -->
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th (click)="toggleSortOrder('symbol')">Symbol</th>
        <th (click)="toggleSortOrder('weight')">Weight</th>
        <th (click)="toggleSortOrder('overWeight')">Overwight/Underweight</th>
        <th (click)="toggleSortOrder('marketValue')">Market Value</th>
        <th (click)="toggleSortOrder('amount')">Amount</th>
        <th (click)="toggleSortOrder('close')">Price</th>
        <th (click)="toggleSortOrder('yieldFwd')">Forward Yield</th>
        <th (click)="toggleSortOrder('yieldOnCost')">Yield On Cost</th>
        <th (click)="toggleSortOrder('incomePercentage')">Income %</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockArray">
        <td>{{ stock.symbol }}</td>
        <td>
          {{ stock.weight }}
        </td>
        <td>
          <span [ngClass]="{ overweight: stock.overWeight > 0, underweight: stock.overWeight < 0, }"
            >{{ (stock.overWeight || 0 | number : "1.2-2") }}
            {{ stock.overWeight > 0 ? "Overweight" : "Underweight" }}</span
          >
        </td>
        <td>{{ stock.marketValue | number : "1.2-2" }}$</td>
        <td>{{ stock.amount }}</td>
        <td>{{ stock.close }}</td>
        <td>{{ stock.yieldFwd }}%</td>
        <td>{{ stock.yieldOnCost }}%</td>
        <td>{{ stock.incomePercentage }}%</td>
      </tr>
    </tbody>
  </table>  
</div>
